<header>
  <script src="https://accounts.google.com/gsi/client" async defer></script>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8EC1C4;">
    <div class="container">
      <ul class="navbar-nav ms-auto" style="display: flex; flex-direction: row;">
        <div id="g_id_onload"
          data-client_id="<%= Rails.application.credentials.dig(:google, :google_client_id) %>"
          data-login_uri="<%= ENV['CALLBACK_URL'] %>"
          data-auto_prompt="false">
        </div>
        <div class="g_id_signin"
          data-type="icon"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="pill"
          data-logo_alignment="left">
        </div>
      </ul>
    </div>
  </nav>
</header>