<header>
  <script src="https://accounts.google.com/gsi/client" async defer></script>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;">
    <div class="container">
      
      <ul class="navbar-nav ms-auto" style="display: flex; flex-direction: row;">
        <li class="nav-item me-2">
          <%= link_to 'ログアウト', logout_path, class: 'btn btn-primary', data: { turbo_method: :delete } %>
        </li>
        <li class=>
          <%= link_to books_path, class: "navbar-brand font-large cantata" do %>
            <%= image_tag "Bookiss.png", width: "40", height: "40" %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>