<div class="col-md-3 mb-3">
  <div class="position-relative mr-1">
    <%= image_tag image_for_design_type(book), width: "300", height: "300" %>
    <p class="title"><%= book.title %></p>
  </div>
</div>