<div class="container mt-5 mb-5 text-center">
  <div class="mb-3">
    <h3>新しい絵本を作ろう</h3>
  </div>
  <div>
    <%= link_to '絵本を作る', new_book_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render @book %>
  </div>
</div>