@import "bootstrap";

.book-title {
  position: absolute;
  top: 60px;
  left: 35px;
  width: 180px;
  text-align: center;
}

.show-title {
  position: absolute;
  top: 135px;
  left: 120px;
  width: 300px;
  text-align: center;
  font-weight: bold;
}

.show-photo {
  position: absolute;
  top: 85px;
  left: 90px;
}

.show-content {
  position: absolute;
  top: 210px;
  left: 650px;
  width: 320px;
  height: 70px;
  text-align: center;
}