@import "bootstrap";
@import "loader";

.book-title {
  position: absolute;
  top: 85px;
  left: 32px;
  width: 180px;
  text-align: center;
}

.show-title {
  position: absolute;
  top: 180px;
  left: 100px;
  width: 280px;
  text-align: center;
  font-weight: bold;
}

.show-photo {
  position: absolute;
  top: 130px;
  left: 120px;
}

.show-content {
  position: absolute;
  top: 280px;
  left: 650px;
  width: 320px;
  height: 70px;
  text-align: center;
}